.about {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
	width: 90vw;
	min-height: 100vh;
	font-size: 18px;
}

.about .header{
	margin-top: 210px;
	font-size: 40px;
}
.about h1{
	font-size: 35px;
}

.about .introduction {
	text-align: center;
	max-width: 30vw;
	margin-bottom: 200px;

}
.introduction .name {
	font-size: 22px;
	font-weight: 700;
}


@media (max-width: 1024px) {

	.about .header{
		margin-top: 180px;
	}
	.about .introduction {
		text-align: center;
		max-width: 60vw;

	}
}
