.qualifications {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
	width: 90vw;
	min-height: 100vh;

}

.qualifications .header{
	margin-top: 180px;
	font-size: 40px;
}
.qualifications h1{
	font-size: 35px;
	text-align: center;
	margin-bottom: 100px;
	margin-top: 150px;
}

.qualifications h2{
	font-size: 30px;
	margin-left: 25px;
	margin-right: 25px;
}

/*
 * Education / Certifications
 * */

.education {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.education_card {
	width: 600px;
	margin: auto;
	margin-bottom: 40px;

	border-left: 7px solid;
	border-radius: 15px;
	border-color: #F1A175;
}
.education_card_right {
	width: 600px;
	text-align: right;
	margin: auto;
	margin-bottom: 20px;

	border-right: 7px solid;
	border-radius: 15px;
	border-color: #F1A175;
}
.education_card .org,
.education_card_right .org
{
	font-size: 25px;
	margin-right: 30px;
	margin-left: 30px;
}
.education_card .year,
.education_card_right .year
{
	font-size: 18px;
	margin-right: 30px;
	margin-left: 30px;
}

/*
 * Experience and Affiliations
 * */

.experience {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.experience_card {
	width: 600px;
	margin: auto;
	margin-bottom: 20px;

	border-left: 7px solid;
	border-radius: 15px;
	border-color: #F1A175;
}
.experience_card_right {
	width: 600px;
	text-align: right;
	margin: auto;
	margin-bottom: 40px;

	border-right: 7px solid;
	border-radius: 15px;
	border-color: #F1A175;
}
.experience_card .title,
.experience_card_right .title
{
	font-size: 25px;
	margin-right: 30px;
	margin-left: 30px;
}
.experience_card .year,
.experience_card_right .year
{
	font-size: 18px;
	margin-right: 30px;
	margin-left: 30px;
}
.experience_card .description,
.experience_card_right .description
{
	display: none;
	font-size: 18px;
	margin-right: 30px;
	margin-left: 30px;
}

/*
 * Relevant Accomplishments
 * */

.accomplishments{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}
.accomplishment_card {
	text-align: left;
	width: 600px;
	margin:auto;
	margin-bottom: 40px;

	border-left: 5px solid;
	border-bottom: 5px solid;
	border-radius: 20px;
	border-color: #F1A175;
}
.accomplishment_card .org{
	font-size: 25px;
	margin-left: 30px;
}
.accomplishment_card .year{
	font-size: 18px;
	margin-left: 30px;
}



/*
 * Technical Skills
 * */
.qualifications .skills {
	display: flex;
	flex-direction: column;
	width:90vw;
	height: 1200px;
	align-items: center;

}

.qualifications li::marker {
	color: #F1A175;
}
.qualifications ul {
	font-size: 25px;
	margin-left:60px;
}

.qualifications .skillbox {
	display: flex;
	width: 800px;
	height: 1000px;
	position: relative;

}
.qualifications .languages {
	position: absolute;
	width: 400px;
	height: 320px;
	top:100px;
	left: 60px;
	border-radius: 25px;
	border:5px solid;
	color: #FFF6E1;
	border-color: #F1A175;

	background-color: #090F1F;
}
.qualifications .tools {
	position: absolute;
	width: 400px;
	height: 400px;
	top: 250px;
	right: 0vw;
	border-radius: 25px;
	border:5px solid;
	border-color: #F1A175;

	background-color: #090F1F;
}
.qualifications .concepts {
	position: absolute;
	width: 650px;
	height: 280px;
	top: 530px;
	left: 0vw;
	border-radius: 25px;
	border:5px solid;
	color: #FFF6E1;
	border-color: #F1A175;

	background-color: #090F1F;
}


@media (max-width: 1024px) {

	.qualifications ul {
		font-size: 22px;
		margin-left:30px;
	}
	.qualifications .header{
		margin-top: 150px;
	}


	/*
	 * Technical Skills
	 * */
	.qualifications .skillbox {
		width: 700px;
	}
	.qualifications .languages {
		top:70px;
		left: 65px;
		width: 360px;
		height: 320px;

	}
	.qualifications .tools {
		top: 230px;
		right: 0vw;
		width: 350px;
		height: 400px;

	}
	.qualifications .concepts {
		top: 530px;
		left: 0vw;
		width: 530px;
		height: 250px;

	}
}

@media (max-width: 428px) {
	.qualifications .header {
		margin-top: 150px;
		font-size:30px;
	}
	.qualifications h1 {
		font-size:28px;
	}
	.qualifications h2 {
		font-size: 25px;
		max-width: 90vw;
	}

	.education_card,
	.education_card_right {
		width: 80vw;
	}
	.experience_card,
	.experience_card_right {
		width: 80vw;
	}
	.org {
		font-size: 10px;
	}
	.year {
		font-size: 8px;
	}
	.accomplishment_card {
		width: 80vw;
	}
	.qualifications ul {
		font-size: 18px;
		margin-left:10px;
	}


	/*
	 * Technical Skills
	 * */
	.qualifications .skillbox {
		width: 90vw;
	}
	.qualifications .languages {
		top:70px;
		left: 10px;
		width: 190px;
		height: 320px;

	}
	.qualifications .tools {
		top: 290px;
		right: 0vw;
		width: 210px;
		height: 300px;

	}
	.qualifications .concepts {
		top: 530px;
		left: 0vw;
		width: 280px;
		height: 290px;

	}
}
