.Main {
	font-family: 'IBM Plex Mono', sans-serif;
	min-height: 100vh;
	background-color: #090F1F;
	color: #FFF6E1;

	display: flex;
}

.menu_bars {
	height: 64px;

	position: fixed;
	top: 100px;
	left: 100px;
	z-index: 999;
}
.menu_bars:hover{
	color: #F1A175;
}
.menu_bars:active{
	color: #E88A85;
}

.facebook_icon {
	height: 55px;
	color: #FFF6E1;

	position: fixed;
	top: 92px;
	right: 350px;
	z-index: 999;
}
.github_icon {
	height: 55px;
	color: #FFF6E1;

	position: fixed;
	top: 92px;
	right: 250px;
	z-index: 999;
}
.linkedin_icon {
	height: 55px;
	color: #FFF6E1;

	position: fixed;
	top: 92px;
	right: 150px;
	z-index: 999;
}
.facebook_icon:hover {
	color: #F1A175;
}
.github_icon:hover {
	color: #F1A175;
}
.linkedin_icon:hover {
	color: #F1A175;
}
.facebook_icon:active {
	color: #E88A85;
}
.github_icon:active {
	color: #E88A85;
}
.linkedin_icon:active {
	color: #E88A85;
}

/*
 * for when adjusted for smaller resolution
 * */
@media (max-width: 1024px) {
	.menu_bars {
		height: 48px;

		position: fixed;
		top: 98px;
		left: 50px;
	}
	.facebook_icon {
		height: 45px;

		position: fixed;
		top: 92px;
		right: 190px;
	}
	.github_icon {
		height: 45px;

		position: fixed;
		top: 92px;
		right: 120px;
	}
	.linkedin_icon {
		height: 45px;

		position: fixed;
		top: 92px;
		right: 50px;
	}
}

@media (max-width: 428px) {

	.menu_bars {
		height: 40px;

		position: fixed;
		top: 78px;
		left: 50px;
	}
	.facebook_icon {
		height: 40px;

		position: fixed;
		top: 72px;
		right: 140px;
	}
	.github_icon {
		height: 40px;

		position: fixed;
		top: 72px;
		right: 80px;
	}
	.linkedin_icon {
		height: 40px;

		position: fixed;
		top: 72px;
		right: 20px;
	}

}
